<template>
    <div class="field">
        <label class="label">{{label_text}}</label>
        <div class="control">
            <div class="select">
                <select @change="send_coin_to_parent()" v-model="selected_coin">
                    <option value=""> Select a coin </option>
                    <option v-for="(coin, idx) in coins" :value="idx"> {{coin}} </option>
                </select>
            </div>
        </div>
    </div>
</template>

<script>
    export default{
        props: {
            label_text: {
                default: ''
            }
        },
        data() {
            return {
                coins: [],
                selected_coin: null
            }
        },
        created: function () {
            this.get_coins()
        },
        methods: {
            get_coins: function (data) {
                let vm = this;
                let url = vm.url_backend + 'currencies'
                this.$http.get(url).then(function (result) {
                    vm.coins = result.body;
                });
            },
            send_coin_to_parent: function (data) {
                var vm = this;
                this.$emit('coin_changed', vm.selected_coin)
            }
        }
    }
</script>
