<template>
    <div>
        <p> Select a coin to get a predicted value for tomorrow: </p>
        <coin-dropdown
            label_text="Coin Name"
            @coin_changed="load_coin_prediction">
        </coin-dropdown>

        <p v-if="selected_coin_short_name != ''">
            My crystal ball told me that the value of {{selected_coin_short_name}}
            will be {{prediction | cash }} tomorrow.
        </p>

    </div>
</template>

<script>
    import CoinDropdown from './CoinDropdown'

    export default{
        data() {
            return {
                selected_coin_short_name: '',
                prediction: ''
            }
        },
        methods: {
            load_coin_prediction: function(coin_short_name){
                if(coin_short_name == ""){
                    this.selected_coin_short_name = '';
                }else{
                    let vm = this;
                    let url = vm.url_backend + 'predict/' + coin_short_name;
                    vm.selected_coin_short_name = coin_short_name;
                    this.$http.get(url).then(function (result) {
                        vm.prediction = result.body;
                    });
                }
            }
        },
        components: {
            CoinDropdown
        }
    }
</script>
