<template>
    <div>
        <p>The avaiable coins in the system are: </p>
        <table class="table table is-fullwidth is-bordered">
            <thead>
                <tr>
                    <th> Full name </th>
                    <th> Short name </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(coin_name, short_name) in coins">
                    <td> {{ coin_name }} </td>
                    <td> {{ short_name }} </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default{
        data() {
            return {
                coins: []
            }
        },
        created: function () {
            this.get_coins()
        },
        methods: {
            get_coins: function (data) {
                let vm = this;
                let url = vm.url_backend + 'currencies'
                this.$http.get(url).then(function (result) {
                    vm.coins = result.body;
                });
            }
        }
    }
</script>
