<template>
    <div>
        <p> The value for today of each of the avaiable coins is: </p>
        <table class="table table is-fullwidth is-bordered">
            <thead>
                <tr>
                    <th> Coin </th>
                    <th> Current Value </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="coin in coin_list">
                    <td> {{ coin.name }} </td>
                    <td> {{ coin.value | cash }} </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default{
        data() {
            return {
                coin_list: []
            }
        },
        created: function () {
            this.get_coin_list()
        },
        methods: {
            get_coin_list: function (data) {
                let vm = this;
                this.$http.get(vm.url_backend).then(function (result) {
                    vm.coin_list = result.body;
                });
            }
        }
    }
</script>
