<template>
    <ul>
        <li> <router-link :to="{ name: 'coin-names' }"> Avaiable coins </router-link>  </li>
        <li> <router-link :to="{ name: 'coin-list' }"> Last coin values </router-link>  </li>
        <li> <router-link :to="{ name: 'coin-prediction' }"> Prediction </router-link>  </li>
        <li> <router-link :to="{ name: 'historical-value' }"> Historical Value </router-link>  </li>
    </ul>
</template>
