<template>
    <div>
        <p>
            Select a coin to show the historical data between the
            dates thatyou choose.
        </p>
        <p>
            If no date range is selected the results for last week will be shown.
        </p>

        <coin-dropdown
            label_text="Coin name"
            @coin_changed="load_coin_history">
        </coin-dropdown>

        <div class="field">
            <label class="label">Starting Date</label>
            <input @change="ajax_coin_value_call" type="date" v-model="dates.from">
        </div>

        <div class="field">
            <label class="label">Ending Date</label>
            <input @change="ajax_coin_value_call" type="date" v-model="dates.to">
        </div>

        <p v-if="selected_coin_short_name!=''">
            Showing results for: <b>{{selected_coin_short_name}} </b>
        </p>
        <ul v-if="selected_coin_short_name!=''">
            <li v-for="(coin_value, date) in coin_values">
                {{date}} : {{coin_value}}
            </li>
        </ul>
    </div>
</template>

<script>
    import CoinDropdown from './CoinDropdown'

    export default{
        data() {
            return {
                coin_history: [],
                coin_values: null,
                selected_coin_short_name: '',
                dates: {
                    from: null,
                    to: null
                }
            }
        },
        methods: {
            load_coin_history: function(coin_short_name){
                if(coin_short_name == ""){
                    this.selected_coin_short_name = "";
                }else{
                    this.selected_coin_short_name = coin_short_name;
                    this.ajax_coin_value_call();
                }
            },
            ajax_coin_value_call: function(){
                let vm = this;
                let url = vm.url_backend + 'currency/' + this.selected_coin_short_name;
                this.$http.get(url, {params: vm.dates}).then(function (result) {
                    vm.coin_values = result.body;
                });
            }
        },
        components: {
            CoinDropdown
        }
    }
</script>
