<template>
    <div id="app" class="cointainer">
        <top-menu/>
        <router-view/>
    </div>
</template>

<script>
    import TopMenu from './components/TopMenu'

    export default {
        name: 'app',
        components: {
          TopMenu
        }
    }
</script>
